<!-- content block -->
<article
        class="block"
        id="{{ .Tag }}"
        data-block-tag="{{ .Tag }}"
        data-block-type="content"
        data-block-profile="{{ .Profile }}"
        data-block-padding="{{ .Padding }}"
        data-block-margins="{{ .Margins }}"
        data-block-jump-top="{{ .JumpTop }}"
        data-block-jump-link="{{ .JumpLink }}"
>
    <div class="content">
        {{ if .Heading }}
            <header>
                <h{{ .HeadingLevel }}>{{ .Heading }}</h{{ .HeadingLevel }}>
                {{ if .JumpLink }}
                    <a class="jump-link" href="#{{ .Tag }}">
                        <span class="sr-only">permalink</span>
                    </a>
                {{ end }}
            </header>
        {{ end }}
        {{ if .Section }}
            <section>
                {{ range $part := .Section }}
                    {{ $part | asHTML }}
                {{ end }}
            </section>
        {{ end }}
        {{ if .Footer }}
            <footer>
                {{ range $part := .Footer }}
                    {{ $part | asHTML }}
                {{ end }}
            </footer>
        {{ end }}
        {{ if .JumpTop }}
            <a class="jump-top" href="#top">top</a>
        {{ end }}
    </div>
</article>