<!-- link-list block -->
<article
        class="block"
        id="{{ .Tag }}"
        data-block-tag="{{ .Tag }}"
        data-block-type="image"
        data-block-profile="{{ .Profile }}"
        data-block-padding="{{ .Padding }}"
        data-block-margins="{{ .Margins }}"
        data-block-jump-top="{{ .JumpTop }}"
        data-block-jump-link="{{ .JumpLink }}"
        data-image-constraint="{{ .Constraint }}"
        data-image-fit="{{ .Fitting }}"
        data-image-position="{{ .Position }}"
        data-image-size="{{ .Size }}">
    <div class="content">
        {{ if .Heading }}
            <header>
                <h{{ .HeadingLevel }}>{{- .Heading | asHTML -}}</h{{ .HeadingLevel }}>
                {{ if .JumpLink }}
                    <a class="jump-link" href="#{{ .Tag }}">
                        <span class="sr-only">permalink</span>
                    </a>
                {{ end }}
            </header>
        {{ end }}
        {{ if .Picture }}
            <section>
                {{ .Picture }}
            </section>
        {{ end }}
        {{ if .Footer }}
            <footer>
                {{ .Footer | asHTML }}
            </footer>
        {{ end }}
        {{ if .JumpTop }}
            <a class="jump-top" href="#top">top</a>
        {{ end }}
    </div>
</article>