<!-- custom theme -->
<article
        class='block'
        id='{{ .Tag }}'
        data-block-tag='{{ .Tag }}'
        data-block-type='notice'
        data-block-profile='{{ .Profile }}'
        data-block-padding='{{ .Padding }}'
        data-block-margins='{{ .Margins }}'
        data-block-jump-top='{{ .JumpTop }}'
        data-block-jump-link='{{ .JumpLink }}'
        {{- if .NoticeType }}data-notice-type="{{ .NoticeType }}"{{- end -}}
>
    <div class='content'>
        {{- if eq .Dismiss "true" }}
            <input type="checkbox" name="dismiss-notice"/>
        {{- end -}}
        <details{{- if eq .Open "true" }} open{{- end -}}>
            {{- if .Summary }}
                <summary>
                    {{ .Summary }}
                    {{- if eq .JumpLink "true" }}
                        <a class="jump-link" href="#{{ .Tag }}">
                            <span class="sr-only">permalink</span>
                        </a>
                    {{- end -}}
                </summary>
            {{ end -}}
            {{- if .Section }}
                <section>
                    {{ range $part := .Section }}
                        {{ $part | asHTML }}
                    {{ end }}
                </section>
            {{- end -}}
            {{- if .Footer -}}
                <footer>
                    {{ range $part := .Footer }}
                        {{ $part | asHTML }}
                    {{ end }}
                </footer>
            {{ end }}
            {{ if eq .JumpTop "true" }}
                <a class="jump-top" href="#top">top</a>
            {{ end }}
        </details>
    </div>
</article>