<!-- toc block -->
<article
        class="block"
        id="{{ .Tag }}"
        data-block-tag="{{ .Tag }}"
        data-block-type="toc"
        data-block-profile="{{ .Profile }}"
        data-block-padding="{{ .Padding }}"
        data-block-margins="{{ .Margins }}"
        data-block-jump-top="{{ .JumpTop }}"
        data-block-jump-link="{{ .JumpLink }}"
        data-toc-page-title="{{ .PageTitle }}"
        data-toc-with-self="{{ .WithSelf }}"
        data-toc-counter="{{ .Counter }}"
>
    <div class="content">
        {{ if .Heading }}
            <header>
                <h{{ .HeadingLevel }}>{{ .Heading }}</h{{ .HeadingLevel }}>
                {{ if .JumpLink }}
                    <a class="jump-link" href="#{{ .Tag }}">
                        <span class="sr-only">permalink</span>
                    </a>
                {{ end }}
            </header>
        {{ end }}
        <section>
            {{ if eq .PageTitle "true" }}<a href="#top">{{ .Context.Title }}</a>{{ end }}
            <ol>
                {{ range $item := .Items }}
                    <li{{- if eq $item.Title $.Heading }} class="toc"{{ end -}}>
                        {{ $item | asHTML }}
                        {{ if $item.Children }}
                            <ol>
                                {{ range $child := $item.Children }}
                                    <li>
                                        {{ $child | asHTML }}
                                        {{ if $child.Children }}
                                            <ol>
                                                {{ range $grandchild := $child.Children }}
                                                    <li>
                                                        {{ $grandchild | asHTML }}
                                                        {{ if $grandchild.Children }}
                                                            <ol>
                                                                {{ range $greatgrandchild := $grandchild.Children }}
                                                                    <li>
                                                                        {{ $greatgrandchild | asHTML }}
                                                                    </li>
                                                                {{ end }}
                                                            </ol>
                                                        {{ end }}
                                                    </li>
                                                {{ end }}
                                            </ol>
                                        {{ end }}
                                    </li>
                                {{ end }}
                            </ol>
                        {{ end }}
                    </li>
                {{ end }}
            </ol>
        </section>
        {{ if .Footer }}
            <footer>
                {{ range $part := .Footer }}
                    {{ $part | asHTML }}
                {{ end }}
            </footer>
        {{ end }}
        {{ if .JumpTop }}
            <a class="jump-top" href="#top">top</a>
        {{ end }}
    </div>
</article>