{{ template "partials/element-open.tmpl" . }}
{{- if .Lines }}
    <ol>
        {{- range $line := .Lines }}
            <li>{{ $line }}</li>
        {{- end -}}
    </ol>
{{- else }}{{ .Text }}{{ end -}}
{{ template "partials/element-close.tmpl" . }}