<meter
        {{- template "partials/element-attributes.tmpl" . -}}
        {{- if .Min   }} min="{{ .Min }}"{{- end -}}
        {{- if .Max   }} max="{{ .Max }}"{{- end -}}
        {{- if .Value }} value="{{ .Value }}"{{- end -}}
>
    {{- .Text -}}
</meter>