<progress
        {{- template "partials/element-attributes.tmpl" . -}}
        {{- if .Max   }} max="{{ .Max }}"{{- end -}}
        {{- if .Value }} value="{{ .Value }}"{{- end -}}
>{{- .Text -}}</progress>