{{- if .GoogleTagManagerContainerId }}
    {{ if not .GoogleTagManagerUseGtagJs }}
        {{ "<!-- Google Tag Manager (noscript) -->" | asHTML }}
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id={{ .GoogleTagManagerContainerId }}"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        {{ "<!-- End Google Tag Manager (noscript) -->" | asHTML }}
    {{ end }}
{{ end }}