{{- if .Href -}}
    <a href="{{- .Href -}}"
       {{- if .Attributes -}}
           {{- range $k, $v := .Attributes -}}
               {{ $k }}="{{ $v }}"
           {{- end -}}
       {{- end -}}
    >{{- .Text -}}</a>
{{- else -}}
    <span
    {{- if .Attributes -}}
        {{- range $k, $v := .Attributes -}}
            {{ $k }}="{{ $v }}"
        {{- end -}}
    {{- end -}}
    >{{- .Text -}}</span>
{{- end -}}