{{- if .Href -}}
    <a href="{{- .Href -}}" {{- template "partials/element-attributes.tmpl" . -}}>
        {{- .Text -}}
    </a>
{{- else -}}
    <span {{- template "partials/element-attributes.tmpl" . -}}>
        {{- .Text -}}
    </span>
{{- end -}}